<div ng-style="style" loading="loading" loading-style="page">
    <div ng-if="$loading" class="lidar-msg text-center">
        <h1>
            <i class="loading-inline-spinner loading-left loading-light loading"></i>
            Loading LiDAR Data <small>Please wait...</small>
        </h1>
    </div>

    <div ng-if="$noData" class="lidar-msg text-center">
        <h1>
            <small class="glyphicon glyphicon-warning-sign"></small> {{$noDataMsg}}
        </h1>
    </div>
    
    <canvas class="lidar-canvas" ng-style="style"></canvas>
</div>